@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0;
  border: 0;
}

.container {
  padding-top: calc(5 * var(--spacingUnitDesktop)) !important;
  padding-bottom: calc(5 * var(--spacingUnitDesktop)) !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacingUnitDesktop));
  margin-right: calc(-1 * var(--spacingUnitDesktop));

  @media (--viewportLarge) {
    margin-left: calc(-2 * var(--spacingUnit));
    margin-right: calc(-2 * var(--spacingUnit));
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.h4 {
  @apply --H4FontStyles;
  flex-basis: 100%;
  text-align: left;
  color: var(--very-dark-grayish-orange);
  margin-top: 0;
  margin-bottom: calc(4 * var(--spacingUnit));
  padding: 0 calc(1 * var(--spacingUnitDesktop));

  @media (--viewportLarge) {
    flex-basis: calc(100% - 8.33333%);
    margin-left: 8.33333%;
    padding: 0 calc(2 * var(--spacingUnit));
  }
}

.item {
  flex: 1;
  padding: calc(1 * var(--spacingUnitDesktop));

  @media (--viewportLarge) {
    padding: calc(2 * var(--spacingUnit));
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;

  @media (--viewportLarge) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
  }
}

.graph {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.graphCol {
  flex: 1;
  position: relative;
}

.graphTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.body {
  @apply --BodySmallFontStyles;
  color: var(--matterColorGrey4);
  margin: 0;
}

.h5 {
  @apply --H5FontStyles;
  color: var(--matterColorGreyDark);
  margin: 0;
}

.female {
  padding-left: calc(2 * var(--spacingUnit));
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.male {
  padding-left: calc(2 * var(--spacingUnit));
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.female img,
.male img {
  margin-right: calc(2 * var(--spacingUnit));
}

.femaleFont {
  color: var(--salmon-graph);
}

.maleFont {
  color: var(--blue-graph);
}

.cardContent {
  flex: 3;
  width: 100%;
  padding: 0;

  @media (--viewportLarge) {
    flex: 1;
    padding: 0;
  }
}

.cardTitle {
  @apply --H6FontStyles;
  color: var(--textColorDark);
  margin-bottom: 10px;
}

.cardDescription {
  @apply --BodySmallFontStyles;
  color: var(--textColorDark);
  display: none;
  margin-bottom: 10px;

  @media (--viewportLarge) {
    display: block;
  }
}

.cardDescription > p {
  @apply --BodyFontStyles;
  margin-top: 0;
  margin-bottom: 5px;
}

.cardBottomDetails {
  @apply --BodySmallFontStyles;
  color: var(--matterColorGrey2);
}
